body {
  margin: 0;
  font-family: sans-serif;
}

#map {
  width: 100vw;
  height: 90vh;
}

.controls {
  margin: 12px 12px 24px;
}

.controls > select {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border: none;
  border-radius: 2px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  padding: 0 12px;
  -webkit-appearance: none;
}

#controls {
  display: flex;
}

#controls > button,
#controls > select,
#controls > a {
  display: inline-block;
  padding: 0;
  background-color: #FFF;
  border: none;
  border-radius: 0;
  color: #666;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 10vh;
  flex: 1;
}
